/* Font */
@import url('https://fonts.googleapis.com/css2?family=Karla:wght@200&display=swap');

/* Root styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Karla', sans-serif;;
}

:root {
    --small-margin: 10px 20px;
    --big-margin: 30px 50px;
    --center-margin: 0 auto;
    --small-padding: 15px 20px;
    --big-padding: 70px 40px;
}

body {
    background-image: url("../img/bg-img.jpg");
}

p {
    color: #D5D4D8;
}

hr {
    border: 1px solid lightgray;
    opacity: 0.1;
}


/* Main */
main {
    display: flex;
    align-items: center;
    max-width: 450px;
    min-width: 200px;
    max-height: 750px;
    min-height: 300px;
    width: 100%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background: #1F2937;
    color: #ffffff;
    margin: var(--center-margin);
    padding: var(--big-padding);
    box-shadow:  0 4px 8px 0 #0003, 0 6px 20px 0 #00000030;
}

.main-container {
    width: 100%;
    background: #1F2937;
    color: #ffffff;
}


/* Heading */
.heading-container {
    margin-bottom: 50px;
}

#heading-color-chg {
    color: #7DD3FC;
    display: block;
}

/* Password Length */

.length-container {
    margin-bottom: 30px;
    width: 80%;
}

.range-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 4px;
}

input[type="range"] {
    -webkit-appearance: none;
    appearance: none;
    background-color: #273549;
    background-image: linear-gradient(#7DD3FC, #7DD3FC);
    background-size: 50% 100%;
    background-repeat: no-repeat;
    cursor: pointer;
    width: 85%;
}

input[type="range"]:focus {
    outline: none;
}

input[type="range"]::-webkit-slider-runnable-track {
    /* background-color: #273549; */
    background: transparent;
    height: 3px;
    border: none;
}

input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 12px;
    width: 12px;
    background-color: #D5D4D8 ;
    border-radius: 50%;
    margin-top: -4.5px;
    transition: background-color .3s ease-in-out;
}

input[type="range"]::-moz-range-track {
    background-color: #273549;
    height: 3px;
}

input[type="range"]::-moz-range-thumb {
    -webkit-appearance: none;
    height: 12px;
    width: 12px;
    background-color: #D5D4D8 ;
    border-radius: 50%;
    margin-top: -4.5px;
    border: none;
}

output[type="number"] {
    background: #273549;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}



/* Button */
.btn-container {
    margin-bottom: 30px;
}

button {
    padding: 10px;
    color: #ffffff;
    background-color: #0284C7;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    transition: 0.2s ease-in-out;
    width: 150px;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
}

button:hover {
    background-color: #036fa7;
}

button:active {
    background-color: #035e8d;
}


/* Password */
.pwd-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
    flex-wrap: wrap;
}

.passwords {
    height: 32px;
    border-radius: 5px;
    background-color: #273549;
    color: #0EA5E9;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 175px;
    margin: 10px 0;
    font-size: 13px ;
}

#clk-to-cpy {
    margin: 0 auto;
    padding: 15px;
    color: #788a9b;
    font-size: 12px;
    visibility: hidden;
}


/* Media Queries */
@media screen and (max-width: 560px) {
    main {
        width: 80%;
    }

    button {
        width: 100%;
    }
    .pwd-container {
        justify-content: center;
    }

    .passwords {
        width: 100%;
    }

    .length-container {
        width: 100%;
    }



}

@media screen and (max-width: 285px) {
    main {
        padding: var(--small-padding);
    }
}

